<mat-card>
  <mat-card-content>
    <h2 class="mat-h2">Upload File</h2>

    <div class="file-input-wrapper">
      <button mat-raised-button (click)="fileInput.click()" color="primary">
        Choose File
      </button>
      <input
        type="file"
        style="display: none"
        (change)="onFileSelected($event)"
        #fileInput
      />
      <span *ngIf="fileName">{{ fileName }}</span>
    </div>

    <button
      mat-raised-button
      color="accent"
      (click)="uploadFile()"
      [disabled]="!selectedFile"
    >
      Upload
    </button>
  </mat-card-content>
</mat-card>
